<%- include("../includes/header.ejs", {title:"Add New Route"}); %>
    <h1>Add New Route</h1>
    <form action="/routes/insert" method="get">
        Route Name: <input id="routeName" name="routeName" type="text" />
        <br />
        <br />
        Description: <input id="description" name="description" type="text" />
        <br />
        <br />
        Users:
        <select id="userID" name="userID" multiple="multiple">
            <% for(var i=0; users.length > i; i++ ) { %>
                <option value="<%= users[i].userID %>"><%= users[i].email %></option>
            <% } %>
        </select>
        <br /><br />
        Pictures:
        <select id="pictureID" name="pictureID" multiple="multiple">
            <% for(var i=0; pictures.length > i; i++ ) { %>
                <option value="<%= pictures[i].pictureID %>"><%= pictures[i].picName %></option>
            <% } %>
        </select>
        <br /><br />
        Coordinates:
        <select id="coordID" name="coordID" multiple="multiple">
            <% for(var i=0; coordinates.length > i; i++ ) { %>
            <option value="<%= coordinates[i].coordID %>"><%= coordinates[i].lat + ', ' + coordinates[i].lon %></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#userID').multiselect();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#pictureID').multiselect();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#coordID').multiselect();
            });
        </script>

        <br /><br />
        <input type="submit" />
    </form>
<br />
<a href="/routes/all"><< back</a>
<%- include("../includes/footer.ejs"); %>